.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters

.idea/
cmake-build-*/

*.o
*.obj
*.out
*.bin
*.hex

*.elf
*.a
*.lib
*.so
*.dll
*.exe

*.d
*.i
*.s

[Bb]uild/
[Dd]ebug/
[Rr]elease/
bin/
obj/

.arduino.json
/libraries/

.pio/
.pioenvs/
.piolibdeps/
/lib/deps/

*.log
*.tmp
*.bak